@import "tailwindcss";

@theme {
  /* fonts */
  --font-sans: "Inter", sans-serif;

  /* colors */
  --color-red: #F03F3B;
  --color-pale-red: rgba(240, 63, 59, 0.2);
  --color-white: #fbfbfb;
  --color-white-40: rgba(251, 251, 251, 0.4);
  --color-black: #11101c;
  --color-black-60: rgba(18, 20, 23, 0.6);
  --color-black-50: rgba(17, 16, 28, 0.5);
  --color-black-10: rgba(17, 16, 28, 0.1);
  --color-blue: #0957c3;
  --color-pale-blue: rgba(9, 87, 195, 0.2);
  --color-green: #103931;
  --color-pale-green: rgba(16, 57, 49, 0.2);
  --color-bright-green: #38cd3e;
  --color-bright-yellow: #FFC531;

  /* font sizes */
  --text-3xl: 28px;
  --text-4xl: 70px;
}

@layer base {
  input:-webkit-autofill {
    @apply autofill:shadow-[inset_0_0_0_1000px_#fbfbfb] autofill:text-black;
  }
}